*{
    margin: 0;
    padding: 0;
    border: border-box; 
}

.all-content{
    background: linear-gradient(to bottom right, #111827, #581c87, #111827);
    /* width: 50%; */
    margin-left: auto;
    margin-right: auto;
}


.navbar{
    height: 60px;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#menu-btn, #sidebar-menu-btn{
    margin-left: 10px;
    color: white;
}

.sidebar{
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 220px;
    z-index: 1000;
    background: linear-gradient(to bottom right, #374151, #9d4edd, #374151);
    box-shadow: 0 5px 10px #8b5cf6, 0 0 5px #8b5cf6, 0 0 10px #8b5cf6;
    padding: 20px 0px;
    transition: all 0.4s ease;
}

.sidebar.open{
    left: 0;
}

.sidebar-logo{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    padding-bottom: 5px;
}

.list{
    list-style: none;
    
}

.nav-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
}

.nav-link:hover{
     background-color: rgba(0, 0, 0, 0.2);
}

.icon{
    margin-right: 14px;
    font-size: 20px;
    color: white;
}

.link{
    font-size: 20px;
    color: white;
    font-weight: 400;
    font: poppins;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.4s ease;
    pointer-events: none;
    opacity: 0;
}

.overlay.open{
    opacity: 1;
    pointer-events: auto;
}

#casino-title, #sidebar-casino{
    width: 550px;
    font-weight: bold;
    font-size: 25px;
    color: #FFD700;
}

#balance{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 70px;
    border-radius: 13%;
    color:  #FFD700;
    background-color: rgba(88, 28, 135, 0.5);
    
}

#profile{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    height: 30px;
    width: 30px;
    font-size: 20px;
    border-radius: 50%;
    color: white;
    background-color: rgba(88, 28, 135, 0.5);
}

.profile-card{
    width: 160px;
    background-color: #CEA8ED;
    box-shadow: 0 5px 10px #8b5cf6, 0 0 5px #8b5cf6, 0 0 10px #8b5cf6;
    position: absolute;
    top: 65px;
    right: 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.profile-card.open{
    max-height: 400px;
}

#curr-player{
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-size: 20px;
    font-weight: 400px;
}

.profile-card hr{
    border: 0;
    height: 1px;
    width: 150px;
    background-color: black;
    margin: 2px 5px 10px 5px;
}

.player_list{
    display: flex;
    flex-direction: column;
    gap: 3px;
    
}

.player_item {
    color: black;
    text-decoration: none;
    padding: 8px 10px;
    text-align: left;
    margin: 0;          
    line-height: 1; 
    font-weight: 500; 
    background: none;
    border: none;   
}

.player_item:hover{
    font-weight: 600;
}

.add_player{
    margin: 10px;
    padding: 8px;
    border: none;
    background-color: #581c87;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s;
}

.add_player:hover{
    transform: scale(1.02);
}

/*-----------------------------------MIDDLE1---------------------*/
.middle1{
    height: 200px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    /* gap: 10px; */
    
    /* text-align: center; */
}

#line1{
    font-size: 100px;
    margin-top: 20px;
    color: #FFD700;
}

#line2{
    font-size: 20px;
    margin-top: 5px;
    color: white;
}

/*----------------------------------MIDDLE2-------------------*/
.middle2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/*----------------COMMON FOR ALL BOX------------------*/

.BOX{
    height: 300px;
    width: 43%;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 10px;
    color: white;
    background:  rgba(17, 24, 39, 0.7);
}

.BOX:hover{
    background-color: rgba(88, 28, 135, 0.5);
    box-shadow: 0 0 10px #8b5cf6, 0 0 20px #8b5cf6, 0 0 30px #8b5cf6;
    transition: 0.3s;
    border: 2px solid white;
}

a{
    display: block;
    margin-top: 20px;
    width: 90%;
    padding: 8px;
    border: none;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.box-img{
    
    width:60px;
    height: 60px;
    font-size: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.amount{
    width: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2px;
    padding: 4px;
    font-size: 18px;
    font-weight: bold;
    color: #FFD700;
}

.win{
    margin-top: 5px;
    font-size: 14px;
    color: #d1d5db;
}

h4{
    margin-top: 5px;
    color: #d1d5db;
    font-size: 15px;
}

.box-line1{
    margin-top: 20px;
    color: #d1d5db;
}
/*--------------------------BOX1----------------------*/

.box1 h2{
    margin-top: 15px;
}

#box1-line1{
    margin-top: 20px;
}

/*----------------------------BOX2----------------*/

.box2 h2{
    margin-top: 15px;
}

#box2-line1{
    margin-top: 20px;
}

/*----------------------------BOX3----------------*/

.box3 h2{
    margin-top: 15px;
}

#box3-line1{
    margin-top: 20px;
}

/*----------------------------BOX4----------------*/

.box4 h2{
    margin-top: 15px;
}

#box4-line1{
    margin-top: 20px;
}




/*---------------------FOOTER------------------------------------------*/
.bottom{
    color: white;
    padding: 10px;
    border: 2px solid;
    border-color: rgba(126, 34, 206, 0.5);
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#foot-line1{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}

#foot-line2{
    text-align: center;
    font-size: 14px;
    margin-bottom: 10px;
}